body {
  background-image: url("leafTest.jpg");
  background-size: cover;
}

h1 {
  font-family: verdana;
  text-align: center;
  background: black;
  color: white;
}
p {
  font-family: verdana;
  font-size: 12px;
}
div {
  font-family: verdana;
  font-size: 12px;
}
