body {
  background-image: url("leafTest.jpg");
  background-size: 100% 50%;
}

h1 {
  font-family: verdana;
  color: black;
  text-align: center;
}
p {
  font-family: verdana;
  font-size: 12px;
}
div {
  font-family: verdana;
  font-size: 12px;
}
