body {
  background-image: url("leafTest.jpg");
  background-size: 100% 500px;
}

h1 {
  font-family: fantasy, verdana;
  color: white;
  text-align: center;
}
p {
  font-family: verdana;
  font-size: 12px;
}
div {
  font-family: verdana;
  font-size: 12px;
}
